[submodule "libprotobuf-mutator"]
	path = libprotobuf-mutator
	url = https://github.com/iii-i/libprotobuf-mutator.git
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "symcc"]
	path = symcc
	url = https://github.com/iii-i/symcc.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/iii-i/zlib.git
[submodule "squash-benchmark"]
	path = squash-benchmark
	url = https://github.com/quixdb/squash-benchmark.git
